/* Write the CSS for you answer here */
#land {
    position: absolute;

}


#tree {
    position: absolute;
    width: 700px;
    top: 110px;
    z-index: 2;
}

#blue{
    position: absolute;
    left:150px;
    top: 250px;
    z-index: 3;
}

#darkblue{
    position: absolute;
    left:400px;
    top: 270px;
    z-index: 3;
}

#green{
    position: absolute;
    left:500px;
    top: 250px;
    z-index: 3;
}

#landscape{
    position: absolute;
    width: 700px;
    top: 110px;
    z-index: -1;
}

#orange{
    position: absolute;
    left:600px;
    top: 265px;
    z-index: 3;
}

#pink{
    position: absolute;
    left:400px;
    top: 300px;
    z-index: 1;
}

#red{
    position: absolute;
    left:50px;
    top: 300px;
    z-index: 3;
}

.container
{
    position: absolute;
    width: 700px;
    height: 541px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.light:hover {
    animation-duration: 3s;
    animation-name: bigger-light;
    animation-fill-mode: forwards;
}


@keyframes bigger-light {
    from {
        transform: scale(1.0,1.0);
    }
    to {
        transform:scale(2.0,2.0);
    }
}



img#tree {
    pointer-events: none; /* to restore it, set value to: auto */
}



